html {
  font-size: 16px;
}

* {

}

body {
  min-width: 100%;
  min-height: 100%;
  max-height: 50%;
  max-width: 50%;
  margin: 0;
  padding: 0;
  background:#489eaa;
}

h1 {
  text-align: center;
  font-family: 'Monoton', cursive;
  color: #ffffff;
  font-size:70px;
  font-weight: 400;
}

p {
  text-align: center;
}

.button_grid {
  padding: 40px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.button_grid a {
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  font-size: 40px;
  color: #d0328c;
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  padding: 20px;
  text-transform: uppercase;
}



#on a{
  background-color: #ffffff;
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
}

#off a{
  background-color: #000000;
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
}


#red a{
  background-color: #ff0000;
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
}

#green a{
  background-color: #00ff00;
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
}

#blue a{
  background-color: #0000ff;
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px 20px;
  padding: 20px;
}

.sys_controls {
  padding: 40px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.sys_controls a {
  background-color: #a4e9db;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  font-size: 24px;
  color: #d0328c;
  border-radius: 10px;
  display: inline-block;
  width: 150px;
  margin: 20px 20px;
  padding: 40px;
  text-transform: uppercase;
}
