<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>lightBox Controller</title>
  <link href="" type="text/css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>lightBox Controller</h1>
  </header>

  <p>
    <a href="http://192.168.1.108/lightBox/api/v1.0/on">ON</a>
  </p>

  <p>
    <a href="http://192.168.1.108/lightBox/api/v1.0/off">OFF</a>
  </p>

  <p>
    <a href="http://192.168.1.108/lightBox/api/v1.0/red">RED</a>
  </p>

  <p>
    <a href="http://192.168.1.108/lightBox/api/v1.0/blue">BLUE</a>
  </p>

  <p>
    <a href="http://192.168.1.108/lightBox/api/v1.0/green">GREEN</a>
  </p>

  <footer>

  </footer>
</body>
