<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>lightBox Controller</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Monoton" rel="stylesheet">
</head>
<body>
  <header>
    <h1>lightBox</h1>
  </header>

    <div class="button_grid">
      <div id="on">
        <a href="http://192.168.1.108/lightBox/api/v1.0/on">I</a>
      </div>
      <div id="off">
        <a href="http://192.168.1.108/lightBox/api/v1.0/off">O</a>
      </div>
      <div id="red">
        <a href="http://192.168.1.108/lightBox/api/v1.0/red"></a>
      </div>
      <div id="blue">
        <a href="http://192.168.1.108/lightBox/api/v1.0/blue"></a>
      </div>
      <div id="green">
        <a href="http://192.168.1.108/lightBox/api/v1.0/green"></a>
      </div>
    </div>

  <footer>

  </footer>
</body>
