html {
  font-size: 16px;
}

* {
    font-family: 'Helvetica', sans-serif;
}

body {
  min-width: 100%;
  min-height: 100%;
  max-height: 50%;
  max-width: 50%;
  margin: 0;
  padding: 0;
  background: #24a4a4
}

h1 {
  text-align: center;
  color: #ff00cf

}

p {
  text-align: center;
  font-weight: bold;
}

.button_grid {
  display: inline-block;
  height: 100px;
  margin: 20px;
  padding-top: 40px;
  width: 220px;
  background-color: #a4e9db
}
